.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  width: 1200px;
  color: black;
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

.image-wrapper {
  float: left;
  width: 200px; /* Adjust the width to your preference */
  margin: 0 0 10px 10px; /* Add margin to create some space between image and text */
}

.image-wrapper-right {
  float: right;
  width: 300px; /* Adjust the width to your preference */
  margin: 0 0 0 0; /* Add margin to create some space between image and text */
}

.image-wrapper-right img {
  width: 100%;
  height: auto;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}



  .aboutBottom p {
    width: 1200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }
  

  .App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9f6;
  }
  
  .col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

