.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }


  * {
    box-sizing: border-box;
  }
  
  .info {
    text-align: center;
    text-transform: uppercase;
    color: #491824;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .column {
    width: 21%;
    padding: 10px;
    height: auto;
    border-style: groove;
    margin-right: 10px;
    border-color: brown;
  }
  
  .column>p {
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .more {
    display: flex;
    justify-content: center;
  }
  
  button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  button:hover {
    background-color: #555555;
    color: white;
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Slideshow container */
  .slideshow-container {
    top: 10px;
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
  
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
  
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }