.courses {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
  }
  
  .coursesTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .coursesBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
  }
  
  .coursesBottom p {
    width: 1200px;
  }
  
  .courses .coursesBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }

  .text-overlay {
    width: 100%;
    height: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .text {
    color: #fff;
    font-size: 50px;
    text-align: center;
    width: '100%';

  }

  .main-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .category-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .category-list li {
    margin-bottom: 20px; /* Increase margin for vertical distance between categories */
    flex: 0 0 calc(50% - 20px); /* Set each category to occupy 50% of the width minus the desired space in between */
  }
  
  .category-link {
    display: flex; /* Use flexbox to center align category name */
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    margin: 30px; /* Add margin for space between categories */
  }
  
  .category-link:hover {
    background-color: #e0e0e0;
  }








  .category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Add spacing between cards */
  }
  
  .category-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .category-image {
    width: 120px; /* Adjust the image size as needed */
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .category-details h2 {
    font-size: 18px; /* Adjust the heading size as needed */
    margin-bottom: 10px;
  }
  
  .category-details p {
    font-size: 14px; /* Adjust the paragraph size as needed */
  }
  