* {
    box-sizing: border-box;
  }
.row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.column {
    float: left;
    width: 21%;
    padding: 10px;
    height: auto;
    border-style: groove;
    margin-right: 10px;
    border-color: brown;
  }
.column > p{
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.more {
  display: flex;
  justify-content: center;
}
button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
button:hover {
    background-color: #555555;
    color: white;
  }