.navbar {
    width: 100%;
    height: 100px;
    background-color: #570a1d;
    /* background-color: #e60005; */
    display: flex;
    flex-direction: row;
    font-weight: bold;
    position: relative;
  }
  
  .navbar .leftSide {
    width: 10%;
    /* flex: 15px; */
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  .dropdown-icon {
    font-size: 5px;
    margin-left: 5px;
    color: #ffffff;
  }
  
  .navbar .leftSide img {
    width: 90px;
  }
  .search-icon {
    font-size: 20px;
    margin:  -5px 15px;
    color: #ffffff;
    cursor: pointer;
  }
  .search-input-container {
    position: relative;
  }
  
  .search-input-container input[type="text"] {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
  }
  
  /* .search-input-container .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  } */
  
  
  .navbar .rightSide {
    width: 35%;
    flex: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
  }
  .navbar .searchSide {
    flex: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
  }
  .navbar .menutSide {
    /* width: 35%;
    flex: 35%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:right;
    padding-right: 50px;
  }
  .navbar .menutSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .menutSide svg {
    font-size: 30px;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 20px;
    display: block;

  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .noHoverEffect:hover{
    background-color: #570a1d !important;
    box-shadow: none !important;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #570a1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navbar a:hover {
    background-color: #7c0623;
    /* font-size: large; */
    box-sizing: border-box;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .navbar span:hover {
    /* background-color: #7c0623; */
    border-radius: 5px;

    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    /* font-size: larger; */
  }
  
  .navbar span {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;

  }
  
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 15px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }
  